<!DOCTYPE html>
<html lang="en">
<%-  include("../partials/head") %> 
<body>
    <%- include("../partials/header") %> 
    <main class="index">
        <section class="sec-banner">
                <i class="fas fa-arrow-left"></i>
                <img src="/images/pagina/banner.png" alt="banner">
                <i class="fas fa-arrow-right"></i>
        </section>

        <section class="sec-categorys">
                <article class="remeras"><a href="#"><h4>Remeras</h4></a></article>
                <article class="pantalones"><a href="#"><h4>Pantalones</h4></a></article>
                <article class="abrigos"><a href="#"><h4>Abrigos</h4></a></article>
                <article class="accesorios"><a href="#"><h4>Accesorios</h4></a></article>
        </section>

        <h3>OFERTAS</h3>
        <section class="sec-carrousel">
            <i class="fas fa-arrow-left"></i>
            <% for(products of products){ %>
                <% if (products.condition=="oferta") { %>
                 <article class="product">
                    <img src="/images/product-image/<%= products.image %>" alt="<%= products.name %>">
                    <div class="product-description">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="p-name"><%= products.name %></p>
                            <p class="p-price"> $ <%= products.price %></p>
                            <p class="p-descuentos"><%= products.discount %> % </p>
                            <a href="products/<%= products.id %> "><button class="ver-btn">VER</button></a>
                        </div>
                    </article>
                <% } %>
                
            <% } %> 
            
                <i class="fas fa-arrow-right"></i>
        </section>
        
        <section class="ver-mas">
            <p>Ver más productos</p>
            <button type="submit"><i class="fas fa-arrow-down"></i></button>
        </section>
            
    </main>

    <%- include("../partials/footer") %> 
</body>
</html>